* {
    background-color: rgb(194, 230, 163)
}

header {
    border-bottom: 2px solid rgb(72, 52, 160);
    text-align: center;
}

main {
    margin: 0 auto;
    width: 80vw;
    padding: .25rem 2rem;
    color: rgb(72, 52, 160);
    font-size: large;
    font-family: sans-serif;
    border-left: 1px dashed rgb(72, 52, 160);
    border-right: 1px dashed rgb(72, 52, 160);
    background-color: rgb(132, 221, 99);
}

h1 {
    background-color: rgb(132, 221, 99);
}


.top {
    background-color: rgb(132, 221, 99);
    font-size: 3em;
    font-weight: bold;
    font-family: sans-serif;
    color: rgb(72, 52, 160);
}

#mine {
    color: rgb(72, 52, 160);
    text-decoration: none;
    background-color: rgb(132, 221, 99);
}


#here {
    color: rgb(32, 67, 255);
}